<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <file>index.php</file>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">tests</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="tests/coverage/" />
    </report>
  </coverage>
  <php>
    <env name="XDEBUG_MODE" value="coverage" force="true"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
